body,
div,
ul,
li,
input,
textarea {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:visited,
a:link,
a:hover,
a:active {
  color: #ffffff;
}
ul,
li {
  list-style: none;
}
input,
button,
select,
textarea {
  outline: none;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
}
textarea {
  resize: none;
  -webkit-appearance: none;
}
.clear {
  clear: both;
}
