.header {
  height: 1.18rem;
  width: 100%;
  margin: 0 auto;
  background-color: #e02341;
}
.header .header_content {
  height: 100%;
  width: 2rem;
  margin: 0 auto;
  line-height: 1.18rem;
  text-align: center;
  color: #ffffff;
  font-family: "Microsoft YaHei";
}
[data-dpr="1"] .header .header_content {
  font-size: 15px;
}
[data-dpr="2"] .header .header_content {
  font-size: 30px;
}
[data-dpr="3"] .header .header_content {
  font-size: 45px;
}
.header .back {
  position: absolute;
  left: 0.46rem;
  top: 0.4rem;
}
.content {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  font-family: "Microsoft YaHei";
}
.content .orderStatus {
  width: 100%;
  margin: 0 auto;
  height: 1.13rem;
  border-bottom: solid #e8e8e8 2px;
}
.content .orderStatus li#first {
  color: #e02341;
  border-bottom: solid #e02341 3px;
}
.content .orderStatus li {
  float: left;
  height: 1.1rem;
  line-height: 1.1rem;
  width: 21%;
  text-align: center;
  color: #4d4d4d;
  font-family: "Microsoft YaHei";
  margin-left: 2%;
  margin-right: 2%;
}
[data-dpr="1"] .content .orderStatus li {
  font-size: 15px;
}
[data-dpr="2"] .content .orderStatus li {
  font-size: 30px;
}
[data-dpr="3"] .content .orderStatus li {
  font-size: 45px;
}
.content .Line {
  width: 100%;
  height: 0.23rem;
  background: #f5f5f5;
}
.content span.status1 {
  float: right;
  color: #ff6c00;
}
[data-dpr="1"] .content span.status1 {
  font-size: 14px;
}
[data-dpr="2"] .content span.status1 {
  font-size: 28px;
}
[data-dpr="3"] .content span.status1 {
  font-size: 42px;
}
.content .orderDetail {
  width: 100%;
  margin: 0 auto;
}
.content .orderDetail li {
  border-bottom: solid #e8e8e8 2px;
}
.content .orderDetail li#first_item {
  width: 100%;
  margin: 0 auto;
  height: 1.13rem;
  line-height: 1.13rem;
  color: #4d4d4d;
}
.content .orderDetail li#first_item .company {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
[data-dpr="1"] .content .orderDetail li#first_item .company {
  font-size: 14px;
}
[data-dpr="2"] .content .orderDetail li#first_item .company {
  font-size: 28px;
}
[data-dpr="3"] .content .orderDetail li#first_item .company {
  font-size: 42px;
}
.content .orderDetail li#first_item .company span.conpanyName {
  margin-left: 0.3rem;
}
.content .orderDetail li#first_item .company span.status {
  float: right;
}
.content .orderDetail li.orderItem {
  width: 100%;
  height: 3.5rem;
}
.content .orderDetail li.orderItem .orderBox {
  height: 2.7rem;
  padding: 0.4rem;
  padding-top: 0.2rem;
}
.content .orderDetail li.orderItem .orderBox .goodsImg {
  width: 2.93rem;
  height: 2.9rem;
  float: left;
}
.content .orderDetail li.orderItem .orderBox .goodsImg img {
  height: 100%;
  width: 100%;
}
.content .orderDetail li.orderItem .orderBox .goodsExp {
  height: 2.5rem;
  width: 6rem;
  float: left;
  margin-left: 0.27rem;
}
.content .orderDetail li.orderItem .orderBox .goodsExp a {
  color: #1a1a1a;
}
[data-dpr="1"] .content .orderDetail li.orderItem .orderBox .goodsExp a {
  font-size: 14px;
}
[data-dpr="2"] .content .orderDetail li.orderItem .orderBox .goodsExp a {
  font-size: 28px;
}
[data-dpr="3"] .content .orderDetail li.orderItem .orderBox .goodsExp a {
  font-size: 42px;
}
.content .orderDetail li.orderItem .orderBox .goodsExp span {
  display: block;
}
.content .orderDetail li.orderItem .orderBox .goodsExp span.ChanDi {
  display: block;
  margin-top: 0.1rem;
  color: #999999;
}
[data-dpr="1"] .content .orderDetail li.orderItem .orderBox .goodsExp span.ChanDi {
  font-size: 12px;
}
[data-dpr="2"] .content .orderDetail li.orderItem .orderBox .goodsExp span.ChanDi {
  font-size: 24px;
}
[data-dpr="3"] .content .orderDetail li.orderItem .orderBox .goodsExp span.ChanDi {
  font-size: 36px;
}
.content .orderDetail li.orderItem .orderBox .goodsExp span.price {
  margin-top: 0.3rem;
  color: #e02341;
}
[data-dpr="1"] .content .orderDetail li.orderItem .orderBox .goodsExp span.price {
  font-size: 14px;
}
[data-dpr="2"] .content .orderDetail li.orderItem .orderBox .goodsExp span.price {
  font-size: 28px;
}
[data-dpr="3"] .content .orderDetail li.orderItem .orderBox .goodsExp span.price {
  font-size: 42px;
}
.content .orderDetail li.orderItem .orderBox .goodsExp span.ShuLiang {
  color: #999999;
  margin-top: 0.1rem;
}
[data-dpr="1"] .content .orderDetail li.orderItem .orderBox .goodsExp span.ShuLiang {
  font-size: 12px;
}
[data-dpr="2"] .content .orderDetail li.orderItem .orderBox .goodsExp span.ShuLiang {
  font-size: 24px;
}
[data-dpr="3"] .content .orderDetail li.orderItem .orderBox .goodsExp span.ShuLiang {
  font-size: 36px;
}
.content .orderDetail li.last_li {
  height: 1.13rem;
  line-height: 1.13rem;
}
.content .orderDetail li.last_li span.ShiFuKuan {
  color: #4d4d4d;
}
[data-dpr="1"] .content .orderDetail li.last_li span.ShiFuKuan {
  font-size: 14px;
}
[data-dpr="2"] .content .orderDetail li.last_li span.ShiFuKuan {
  font-size: 28px;
}
[data-dpr="3"] .content .orderDetail li.last_li span.ShiFuKuan {
  font-size: 42px;
}
.content .orderDetail li.last_li .submit {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.content .orderDetail li.last_li .submit button.submitBtn {
  height: 0.61rem;
  width: 1.92rem;
  float: right;
  margin-top: 0.27rem;
  border: solid #ff6c00;
  color: #ff6c00;
  background: none;
  border-radius: 5px;
}
[data-dpr="1"] .content .orderDetail li.last_li .submit button.submitBtn {
  font-size: 12px;
}
[data-dpr="2"] .content .orderDetail li.last_li .submit button.submitBtn {
  font-size: 24px;
}
[data-dpr="3"] .content .orderDetail li.last_li .submit button.submitBtn {
  font-size: 36px;
}
